# Rust
/vnode/target/
/vnode/target_temp/
/target/
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
ingestion/__pycache__/
processing/__pycache__/
models/__pycache__/

# Environments
.env

# System
.DS_Store
Thumbs.db
